<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606382734397-bu25e9j3rods12veaa1m6v0dcnhn585i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606382734397-bu25e9j3rods12veaa1m6v0dcnhn585i</string>
	<key>API_KEY</key>
	<string>AIzaSyCnq7EzSr08VNrBzmN7xbLKu6Nw7crSL_M</string>
	<key>GCM_SENDER_ID</key>
	<string>606382734397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yannrzd.PurrFinder</string>
	<key>PROJECT_ID</key>
	<string>purrfinder-dc718</string>
	<key>STORAGE_BUCKET</key>
	<string>purrfinder-dc718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606382734397:ios:6fce54f7e567e53cff7e54</string>
</dict>
</plist>